<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Room</title>
  <link rel="stylesheet" href="/static/dash.css">
  <link rel="stylesheet" href="/static/editroom.css" />
<body>
  <div class="container">
    <%- include('../nav') -%>

    <section >
      <div class="main-top">
      </div>
      <div class="room-details">
        <form action="/api/rooms/<%= room._id %>/edit" method="POST" enctype="multipart/form-data">
            
          <h1 class="editroom-title">Modifier salle</h1>

            <input type="hidden" name="_method" value="PUT">
        
            <div class="addroom-form-group">
                <label class="editroom-label " for="name">Name:</label>
                <input type="text" class="addroom-input" id="name" name="name" value="<%= room.name %>" required>
            </div>
            <div class="addroom-form-group">
                <label class="editroom-label " for="floor">Floor:</label>
                <input type="text" class="addroom-input" id="floor" name="floor" value="<%= room.floor %>" required>
            </div>
            <div class="addroom-form-group">
                <label class="editroom-label " for="capacity">Capacity:</label>
                <input type="number" class="addroom-input" id="capacity" name="capacity" value="<%= room.capacity %>" required>
            </div>
            <div class="addroom-form-group">
                <label for="assets">Assets:</label><br>
                <input type="checkbox" id="macLab" name="assets[macLab]" <% if (room.assets.macLab) { %>checked<% } %>>
                <label for="macLab" class="addroom-checkbox-label"> Mac Lab</label><br>
        
                <input type="checkbox" id="pcLab" name="assets[pcLab]" <% if (room.assets.pcLab) { %>checked<% } %>>
                <label for="pcLab" class="addroom-checkbox-label"> PC Lab</label><br>
        
                <input type="checkbox" id="projector" name="assets[projector]" <% if (room.assets.projector) { %>checked<% } %>>
                <label for="projector" class="addroom-checkbox-label"> Projector</label><br>
        
                <input type="checkbox" id="tv" name="assets[tv]" <% if (room.assets.tv) { %>checked<% } %>>
                <label for="tv" class="addroom-checkbox-label"> TV</label><br>
        
                <input type="checkbox" id="whiteBoard" name="assets[whiteBoard]" <% if (room.assets.whiteBoard) { %>checked<% } %>>
                <label for="whiteBoard" class="addroom-checkbox-label"> White Board</label><br>
            </div>
            <div >
              <label class="editroom-label" for="photo">Image:</label>
              <input type="file" id="photo" name="image">
          </div>
          
          <div>
            <button type="submit" class="editroom-button">Modifier</button>
            <button type="button" onclick="window.history.back();"class="editroom-button">Annuler</button> 
          </div>
            
        </form>
        
      </div>
    </section>
  </div>
</body>
</html>
