<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="/static/dash.css" />
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <%- include('../nav') -%>

    <section class="main">
      <div class="main-top">
        <h1>Attendance</h1>
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="users">
        <% rooms.forEach(room => { %>
          <div class="card">
            <img src="<%= room.image %>">
            <h4><%= room.name %></h4> <!-- Assuming 'name' is the name of the room -->
            <p>Étage: <%= room.floor %></p>
            <p>Capacité: <%= room.capacity %></p>
            <p>Équipements:</p>
            <ul>
              <% if (room.assets.macLab) { %>
                <li>Mac Lab</li>
              <% } %>
              <% if (room.assets.pcLab) { %>
                <li>PC Lab</li>
              <% } %>
              <% if (room.assets.projector) { %>
                <li>Projector</li>
              <% } %>
              <% if (room.assets.tv) { %>
                <li>TV</li>
              <% } %>
              <% if (room.assets.whiteBoard) { %>
                <li>White Board</li>
              <% } %>
            </ul>
            <button>Reserver</button>
          </div>
        <% }) %>
      </div>
    </section>
  </div>
</body>
</html>
