<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Salles</title>
  <link rel="stylesheet" href="/static/dash.css" />
</head>
<body>
  <div class="container">
    <%- include('../nav') -%>

    <section class="main">
      <div class="main-top">
        <h1 style="color: bisque; margin-left: 600px; margin-top: 18px;">Liste des Salles</h1>
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="users">
        <% rooms.forEach(room => { %>
          <div class="card">
            <% if (room.image) { %>
              <img src="/<%= room.image %>">
              <% } %>            
              <h4><%= room.name %></h4> 
            <p>Étage: <%= room.floor %></p>
            <p>Capacité: <%= room.capacity %></p>
            <p>Équipements:</p>
            <ul>
              <% if (room.assets.macLab) { %>
                <li>Mac Lab</li>
              <% } %>
              <% if (room.assets.pcLab) { %>
                <li>PC Lab</li>
              <% } %>
              <% if (room.assets.projector) { %>
                <li>Projector</li>
              <% } %>
              <% if (room.assets.tv) { %>
                <li>TV</li>
              <% } %>
              <% if (room.assets.whiteBoard) { %>
                <li>White Board</li>
              <% } %>
            </ul>
            <a href="/api/rooms/<%= room._id %>/edit"><button>Modifier</button></a>

            <a href="/api/rooms/<%= room._id %>/delete"><button>Supprimer</button></a>
            
          </div>
        <% }) %>
      </div>
    </section>
  </div>
</body>
</html>
