<!-- room.ejs -->
<%- include('header') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des salles de réunion</title>
    <link rel="stylesheet" href="/static/room.css"> 
    <script src="https://fullcalendar.io/docs/Calendar-render"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.css" rel="stylesheet">
</head>
<body>
    <!-- <div class="room-list">

        <% rooms.forEach(room => { %>
            <div class="room">
                <h2><%= room.name %></h2>
                <p>Étage: <%= room.floor %></p>
                <p>Capacité: <%= room.capacity %></p>
                <p>Équipements:</p>
                <ul>
                    <% if (room.assets.macLab) { %>
                        <li>Mac Lab</li>
                    <% } %>
                    <% if (room.assets.pcLab) { %>
                        <li>PC Lab</li>
                    <% } %>
                    <% if (room.assets.projector) { %>
                        <li>Projector</li>
                    <% } %>
                    <% if (room.assets.tv) { %>
                        <li>TV</li>
                    <% } %>
                    <% if (room.assets.whiteBoard) { %>
                        <li>White Board</li>
                    <% } %>
                </ul>
            </div>
        <% }) %>
    </div> -->
    <section class="main">
        <div class="main-top">
          <h1>Liste des salles</h1>
          <i class="fas fa-user-cog"></i>
        </div>
    <div class="users">
        <% rooms.forEach(room => { %>
            <div class="card">
                <img src="<%= room.image %>">
                <h4><%= room.name %></h4> 
                <p>Étage: <%= room.floor %></p>
                <p>Capacité: <%= room.capacity %></p>
                <p>Équipements:</p>
                <ul>
                    <% if (room.assets.macLab) { %>
                        <li>Mac Lab</li>
                    <% } %>
                    <% if (room.assets.pcLab) { %>
                        <li>PC Lab</li>
                    <% } %>
                    <% if (room.assets.projector) { %>
                        <li>Projector</li>
                    <% } %>
                    <% if (room.assets.tv) { %>
                        <li>TV</li>
                    <% } %>
                    <% if (room.assets.whiteBoard) { %>
                        <li>White Board</li>
                    <% } %>
                </ul>
                <form id="reservationForm-<%= room._id %>" style="display: none;" action="/reservations" method="post">
                    <label for="startTime">Date de début :</label>
                    <input type="datetime-local" id="startTime" name="startTime" required>
                  
                    <label for="endTime">Date de fin :</label>
                    <input type="datetime-local" id="endTime" name="endTime" required>
                  
                    <button type="submit">Confirmer</button>
                  </form>
                  
                  
                  
                <button class="reserveButton" data-room-id="<%= room._id %>">Réserver</button> <!-- Bouton pour afficher le formulaire -->
                <button id="showCalendarButton">Afficher le calendrier</button>

            </div>
        <% }) %>
    </div>
    <div id="calendar"></div>

    </section>

    <script>
        // JavaScript pour afficher le formulaire de réservation lorsque le bouton "Réserver" est cliqué
        const reserveButtons = document.querySelectorAll('.reserveButton');
        reserveButtons.forEach(button => {
            button.addEventListener('click', () => {
                const roomId = button.getAttribute('data-room-id');
                const form = document.getElementById('reservationForm-' + roomId);
                form.style.display = 'block';
            });
        });
        


    </script>
    <script>
        // Récupérer le bouton "Afficher le calendrier"
        const showCalendarButton = document.getElementById('showCalendarButton');
    
        // Ajouter un écouteur d'événements au clic sur le bouton
        showCalendarButton.addEventListener('click', () => {
            // Rediriger l'utilisateur vers la page calendrier
            window.location.href = '/calendar';
        });
    </script>
</body>
</html>
